/* Importing custom fonts */

@font-face {
    font-family: "DoomFontNoBorder";
    src: url(fonts/title_fonts/AmazDooMLeft.ttf);
}
@font-face {
    font-family: "DoomFontWithBorder";
    src: url(fonts/title_fonts/AmazDooMLeftOutline.ttf);
}
@font-face {
    font-family: "UI_Font";
    src: url(fonts/UI_Fonts/EternalUiRegular-BWZGd.ttf);
}
@font-face {
    font-family: "terminalUI";
    src: url(fonts/UI_Fonts/EternalUiRegular-BWZGd.ttf);
}

body{
    background-color: rgb(96, 87, 20);
    font-family: "DoomFontNoBorder";
    height: 100vh;
    position: relative;
    margin: 0;
    overflow: hidden;

}

.container{
    /* margin: .5em; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
/* styling background */
.bg{
    position: fixed; 
    top: 0; 
    left: 0; 
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
    opacity: .1;
}

/* progress styling */

#progressPistol{
    width: 100%;
    background-color: rgba(49, 42, 42, 0.192);
}
#progressShotgun{
    width: 100%;
    background-color: #f1993452;
}

/* styling startMenu */

.startMenu{
    border: 10px solid transparent; /* transparent border */
    border-image: linear-gradient(to right, #ff0000, #ff8800, #f19934) 1;
    font-size: 30px;
    /* Center Menu Div in body */
    position: absolute;
    width: 25em;
    height: 20em;
    left: 0;
    right:0;
    top:0;
    bottom: 0;
    margin: auto;
    /* Center menu items */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(196, 172, 134);
    letter-spacing: .5em;
    color: rgb(139, 25, 25);
    border-radius: .3em;
}
.startMenu h1, .startMenu h2{
    text-align: center;
    font-size: 96px;
}
#startBtn{
    background-color: rgb(176, 173, 173);
    color:rgb(139, 25, 25);
    font-size: 20px;
    font-family: "DoomFontNoBorder";
    border:none;
    padding-top: 1em;
    padding-bottom: .5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-radius: 1em;
    &:hover{
        cursor: pointer;
        background-color: rgb(102, 97, 97);
    }
}

/* PlayerBar styling */
/* interactible area for the player */

.playerBar{
    position: absolute;
    bottom: 0;
    display: flex;
    align-self: flex-end;
    visibility: hidden;
    bottom: 0;
    width: 100%;
    height: 6em;
    margin: 0;
    background-color: rgb(174, 173, 173);

    font-family: "UI_Font";

 
}

.playerBar button{
    width: -webkit-fill-available;
}

.healthContainer{
    border: 2px solid rgb(66, 66, 67);
    flex-grow: 3;
    color: rgb(139, 25, 25);
    font-size: 32px;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.faceContainer, .healthContainer{
    align-content: center;
    text-align: center;
}
.weaponContainer{
    display: flex;
    border: 2px solid rgb(66, 66, 67);
    flex-grow: 4;
    align-items: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

}

#pistolContainer, #shotGunContainer, #QuadContainer, #MegaContainer{
    width: 300px; 
    button{
        padding: 10px;
        &:hover{
            cursor: pointer;
        }
    }
    
     
}

.weaponContainer ul{
    margin: 0;
    list-style: none;
}
.faceContainer{
    border: 2px solid rgb(66, 66, 67);
    flex-grow: 1;
}

/* Enemy window styling */
.enemyContainer{
    /* position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto; */
    /* margin-top: 10em; */
    margin-bottom: 10px;
    width: 50%;
    background-color: brown;
    display: none;
    align-items: center;
    flex-direction: column;
}
#enemyName{
    text-align: center;
    width: 100%;
    background-color: tomato;
    margin-top: auto;
    font-size: 30px;
}
#enemyHealth{
    text-align: center;
    width: 100%;
    margin-bottom: auto;
    font-family: "UI_Font";
    font-size: 20px;
    background-color: orangered;
    color: black;
}

/* turnContainer styling */
.terminal{
    /* h1{
        border-bottom: 1px greenyellow solid;
    } */
    border: 10px rgba(245, 245, 245, 0.601) solid;
    visibility: hidden;
    font-family: "terminalUI";
    background-color: black;
    color: greenyellow;
    width: 30%;
    height: 10em;
    align-self: flex-start;
    padding: 5px;
    /* position: absolute; */
    left: 0;
    top: 0;
}

/* shaking animation */
@keyframes skew-x-shakeng{
    0% { transform: skewX(-15deg); }
    5% { transform: skewX(15deg); }
    10% { transform: skewX(-15deg); }
    15% { transform: skewX(15deg); }
    20% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }
}


/* Button styling */

/* CSS */
.button-78 {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: "UI_Font";
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 0px;
  margin: 0;
  min-height: 40px;
  outline: none;
  overflow: visible;
  padding: 0px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  /* vertical-align: middle; */
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .button-78 {
    padding: 0px;
  }
}

.button-78:before,
.button-78:after {
  border-radius: 80px;
}

.button-78:before {
  background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.button-78:after {
  background-color: initial;
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.button-78:hover:not(:disabled):before {
  background: linear-gradient(92.83deg, rgb(255, 116, 38) 0%, rgb(249, 58, 19) 100%);
}

.button-78:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.button-78:active:not(:disabled) {
  color: #ccc;
}

.button-78:active:not(:disabled):before {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
}

.button-78:active:not(:disabled):after {
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.button-78:disabled {
  cursor: default;
  opacity: .24;
}
